.btn{
    background-color: #0171c3 !important;
}
.btn:hover {
    background-color: white !important;
    color: #0171c3 !important;
}
.background_color{
    background-color: #0171c3 !important;    
    color: white !important;
}